.c-footerp-grid-item {
  grid-column: footer;
  text-align: center;
  &__copyright {
    font-size: $secondary-font-size;
    color: $white;
  }
  &__emaillink {
    font-size: $secondary-font-size;
    color: $white;
    text-decoration: none;
  }
}
