.c-footerp {
  grid-column: 1 / 7;
  text-align: center;
  &__copyright {
    font-size: $secondary-font-size;
    color: $white;
  }
  &__emaillink {
    font-size: $secondary-font-size;
    color: $white;
    text-decoration: none;
  }
}
