.c-headerp {
    grid-column: 1 / 7;
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: $spacing * 8;
    margin-block-end: 0;
    &__info {
        flex: 30%;
        padding-block-start: $spacing * 3.5;
        padding-inline-start: $spacing * 4;
    }
    &__nav {
        flex: 70%;
    }
    &__submenu {
        background-color: $medium;
        inline-size: 14.41rem;
        padding-inline-start: 0.5rem;
    }
    &__submenu-md {
        display: none;
    }
    &__item {
        list-style-type: none;
        padding: 1rem;
        border-bottom: 1px solid $dark;
    }
    &__link {
        text-decoration: none;
        color: $white;
    }
    &__dropdown-toggle {
        position: relative;
        bottom: 10.45rem;
        left: 17.25rem;
        background-color: $medium;
        margin-block-end: 1rem;
    }
    &__dropdown-menu {
        display: none;
        position: relative;
        bottom: 12.5rem;
        left: 5rem;
    }
    &__hamburger {
        max-inline-size: 100%;
        color: $darkest;
    }
}

@media (min-width: 31.25rem) {
    .c-headerp {
        flex-direction: row;

        &__submenu-md {
            display: flex;
            padding-block-start: $spacing * 3;
        }
        &__item-md {
            flex: 1 1 auto;
            list-style-type: none;
        }
        &__link-md {
            display: block;
            padding: ($spacing / 2) ($spacing);
            color: $white;
            font-size: $link-font-size;
            text-decoration: none;
        }
        &__logo {
            max-inline-size: 100%;
        }
        &__info {
            flex: 30%;
            padding-block-start: $spacing * 3.5;
            padding-inline-start: $spacing * 4;
        }
        &__nav {
            flex: 70%;
        }
        &__dropdown {
            display: none;
        }
    }
}
/*.c-headerp {
    grid-column: 1 / 7;
    display: flex;
    position: fixed;
    gap: $spacing * 8;
    margin-block-end: $spacing * 3;
    &__info {
        flex: 30%;
        padding-block-start: $spacing * 2.5;
    }
    &__nav {
        flex: 70%;
    }
    &__list {
        display: flex;
        padding-block-start: $spacing * 3;
        list-style-type: none;
    }
    &__item {
        flex: 1 1 auto;
    }
    &__link {
        display: block;
        padding: ($spacing / 2) ($spacing);
        color: $white;
        font-size: $link-font-size;
        text-decoration: none;
    }
    &__heading {
        font-size: $h1-font-size;
    }
    &__logo {
        max-inline-size: 100%;
        background-color: $primary;
        display: block;
        border: 1px solid black;
        padding: $spacing * 0.8;
        border-radius: $spacing * 10;
    }
}*/