/* Mobile devices */
.c-headerp-grid-item {
    grid-column: header;
    display: flex;
    position: fixed;
    flex-direction: column;
    gap: $spacing * 8;
    &__info {
        flex: auto;
        padding-inline-start: $spacing * 6.6;
        padding-block-start: $spacing * 3;
    }
    &__logo {
        max-inline-size: 100%;
    }
    &__nav {
        flex: auto;
    }
    &__submenu {
        display: flex;
        flex-direction: column;
        gap: $spacing / 2;
        background-color: $white;
        padding: $spacing / 2;
        list-style-type: none;
    }
    &__item {
        border-bottom: 1px solid $dark;
    }
    &__link {
        display: block;
        font-size: $h6-font-size;
        padding-inline: $spacing / 2;
        padding-block: $spacing / 3;
        color: $medium;
        text-decoration: none;
    }
    &__dropdown-menu {
        display: none;
        position: relative;
        bottom: $spacing * 11;
    }
    &__dropdown-toggle {
        position: relative;
        bottom: $spacing * 10;
        background-color: $medium;
        color: $white;
    }
}
@media (min-width: $breakpoint-md) {
    .m-container-grid {
        max-inline-size: $column-width-md;
    }
    
    .c-headerp-grid-item {
        grid-column: header;
        display: flex;
        gap: $spacing / 4;
        flex-direction: row;
        justify-content: flex-end;
        position: fixed;
        &__info {
            flex: auto;
            padding-inline-start: 0;
            padding-block-start: 0;
        }
        &__logo {
            max-inline-size: $max-width;
        }
        &__nav {
            flex: auto;
        }
        &__submenu {
            flex-direction: row;
            justify-content: center;
            background-color: $medium;
        }
         &__item {
            border: none;
            padding-inline-start: $spacing * 1.5;
        }
        &__link {
            color: $white;
        }
        &__dropdown-menu {
            display: block;
            position: static;
            border: none;
        }
        &__dropdown-toggle {
            display: none;
        }
    }
}

@media (min-width: $breakpoint-lg) {
    .m-container-grid {
        max-inline-size: $column-width-lg;
    }
    
    .c-headerp-grid-item {
        flex-direction: row;
        align-items: center;
        position: fixed;
        &__info {
            padding-inline-start: $spacing * 2;
            padding-block-start: 0;
        }
        &__submenu {
            flex-direction: row;
            justify-content: center;
            background-color: $medium;
        }
         &__item {
            border: none;
        }
        &__link {
            color: $white;
        }
        &__dropdown-menu {
            display: block;
            position: static;
            border: none;
        }
        &__dropdown-toggle {
            display: none;
        }
    }
}

