<div>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/coffeeshop"
        ><i class="fab fa-facebook"></i
      ></a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/coffeeshop"
        ><i class="fab fa-github"></i
      ></a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/coffeeshop"
        ><i class="fab fa-linkedin"></i
      ></a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/coffeeshop"
        ><i class="fab fa-twitter"></i
      ></a>
    </li>
  </ul>
  <p style="padding-left: 528px">Copyright 2024&copy;</p>
</div>
