<header id="main-header" class="c-headerp-grid-item" data-cy="main-header">
  <div id="header-info" class="c-headerp-grid-item__info" data-cy="header-info">
    <a class="c-headerp-grid-item__link animate__animated animate__bounce" href="/"
      ><img
        class="c-headerp-grid-item__logo"
        src="/images/uideck.svg"
        alt="Hi time Fitness Club logo"
    /></a>
  </div>
  <nav id="main-nav" class="c-headerp-grid-item__nav" data-cy="main-nav">
    <div id="dropdown" class="c-headerp-grid-item__dropdown">
      <button
        type="button"
        class="c-headerp-grid-item__dropdown-toggle"
        id="dropdown-toggle"
      >
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="bi" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
      </svg>
      </button>
      <div class="c-headerp-grid-item__dropdown-menu">
        <ul class="c-headerp-grid-item__submenu">
          <li class="c-headerp-grid-item__item">
            <a class="c-headerp-grid-item__link" href="/">Home</a>
          </li>
          <li class="c-headerp-grid-item__item">
            <a class="c-headerp-grid-item__link" href="/about">About</a>
          </li>
          <li class="c-headerp-grid-item__item">
            <a class="c-headerp-grid-item__link" href="/coffeeshop">Shop</a>
          </li>
          <li class="c-headerp-grid-item__item">
            <a class="c-headerp-grid-item__link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
