<header id="main-header" class="c-headerp" data-cy="main-header">
  <div
    id="header-info"
    class="c-headerp__info"
    data-cy="header-info"
  >
    <a class="c-headerp__link" href="/"
      ><img
        class="c-headerp__logo"
        src="/images/uideck.svg"
        alt="Hi time Fitness Club logo"
        width="190"
        height="90"
    /></a>
  </div>
  <nav id="main-nav" class="c-headerp__nav" data-cy="main-nav">
    <ul class="c-headerp__list">
      <li class="c-headerp__item"><a class="c-headerp__link" href="/">Home</a></li>
      <li class="c-headerp__item"><a class="c-headerp__link" href="/about">About</a></li>
      <li class="c-headerp__item"><a class="c-headerp__link" href="/coffeeshop">Shop</a></li>
      <li class="c-headerp__item"><a class="c-headerp__link" href="/classes">Classes</a></li>
      <li class="c-headerp__item"><a class="c-headerp__link" href="/nutrition">Nutrition</a></li>
      <li class="c-headerp__item"><a class="c-headerp__link" href="/contact">Contact</a></li>
    </ul>
  </nav>

</header>
