<main id="home-page" class="c-homep" data-cy="home-page">
  <div id="section1" class="c-homep__section1" data-cy="section1">
    <p class="c-homep__intro1">
      Welcome to Hi Time Fitness Club. Our mission is to help our clients meet
      their Fitness and nutrition goals
    </p>

    <p class="c-homep__intro2">
      If you struggled with getting healthy and need the motivation and
      resources to make a healthy lifestyle change, contact us today. Our
      facility includes state-of-the-art equipment, convenient group training
      classes, and nutrition tips and information to keep you healty
    </p>

    <p class="c-homep__intro3">
      We provide a FREE, one-week membership to experience the benefits of our
      equipment and facility. This one-week trial gives you complete access to
      our equipment, training classes, and nutrition planning. Contact us today
      to <a class="c-homep__cta-link animate__animated animate__heartBeat" href="/contact"><span class="c-homep__cta">start your free trial!</span></a>
    </p>
  </div>
</main>
