<div class="container" style="background-image: url(/images/deal-03.jpg); background-repeat: no-repeat; background-size: cover; height: 600px; margin-top: 80px; padding-top: 80px">
  <div class="container-fluid text-white">
    <h2  style="height: 100px; margin-left: 350px; color: black;">Hi Time Airport Company</h2>
    <button type="button" class="btn btn-primary btn-lg animate__animated animate__heartBeat" style="margin-left: 450px">
      <a href="/coffeeshop">Buy Coffee Now!</a>
    </button>
  </div>
</div>
