<main id="about-page" class="c-aboutp" data-cy="about-page">
  <div id="about-weights" class="c-aboutp__weights" data-cy="about-weights">
    <h1 class="c-aboutp__wheading">Weights</h1>
    <img
      class="c-aboutp__wimg"
      src="/images/592x333.png"
      alt="Two people working out with a weight in each hand"
    />
    <p class="c-aboutp__winfo">
      Our facility includes a weight training area with several weight options.
      Build lean muscles with weights and improve your core with weight training
    </p>
    <ul class="c-aboutp__elist">
      <li class="c-aboutp__eitem">Dumbbell</li>
      <li class="c-aboutp__eitem">Kettle bells</li>
      <li class="c-aboutp__eitem">Barbells</li>
    </ul>
  </div>
  <div id="about-cardio" class="c-aboutp__cardio" data-cy="about-cardio">
    <h1 class="c-aboutp__cheading">Cardio</h1>
    <img
      class="c-aboutp__cimg"
      src="/images/592x333.png"
      alt="Cardio Equipment"
    />
    <p class="c-aboutp__cinfo">
      Burn fat through cardio workouts. Experts recommend 150 minutes of cardio
      each week. We have several equipment choices for your workout
    </p>
    <ul class="c-aboutp__clist">
      <li class="c-aboutp__citem">Treadmills</li>
      <li class="c-aboutp__citem">Elliptical Machines</li>
      <li class="c-aboutp__citem">Exercise Bikes</li>
    </ul>
  </div>
  <div class="c-aboutp__training">
    <h1 class="c-aboutp__theading">Personal Training</h1>
    <img
      class="c-aboutp__timg"
      src="/images/592x333.png"
      alt="Personal Training"
    />
    <p class="c-aboutp__tinfo">
      Our certified personal trainers work with you to help you obtain your
      fitness goals and track your progress. Personal training has many benefits
    </p>
    <ul class="c-aboutp__tlist">
      <li class="c-aboutp__titem">Accountability</li>
      <li class="c-aboutp__titem">Personalized Program</li>
      <li class="c-aboutp__titem">Consistent Support and Motivation</li>
    </ul>
  </div>
  <div class="c-aboutp__exercises">
    <h1 class="c-aboutp__eheading">Common Exercises</h1>
    <p class="c-aboutp__einfo">
      The following are common exercises that we encourage our clients to do as
      part of their daily exercise routine
    </p>
    <dl class="c-aboutp__dfnlist">
      <dt class="c-aboutp__eterm">Burpee</dt>
      <dd class="c-aboutp__edata">
        Burpees are a great full-body exercise to increase your strength and
        endurance. Begin in a standing position, drop into a squat and extend
        your hands forward, kick your feet back and then forward again quickly,
        and then jump up from a squatted position.
      </dd>
      <dt class="c-aboutp__eterm">Plank</dt>
      <dd class="c-aboutp_edata">
        Planks build your core strength. To perform a plank, get in a push-up
        position and rest your forearms on the floor. Hold the position as long
        as you can
      </dd>
      <dt class="c-aboutp__eterm">Moutain Climber</dt>
      <dd class="c-aboutp__edata">
        Mountain climbers are a good cardio exercise. Place your hands on the
        floor in a push-up position, bring one knee up to your chest, and then
        switch as quickly as you can (as though you are climbing a mountain)
      </dd>
    </dl>
    <p class="c-aboutp__minfo">
      For more information about how to stay active, visit the
      <a
        class="c-aboutp__mlink animate__animated animate__heartBeat"
        href="https://sa.heath.gov.co.za"
        target="_blank"
        >SA Department of Heath and Human Services</a
      >
    </p>
  </div>
</main>
