// Typography
$font-family-base: "Roboto", sans-serif;
$font-size-base: 1.125rem;
$line-height-base: 1.3;
$h1-font-size: 2.027 * $font-size-base;
$h2-font-size: 1.802 * $font-size-base;
$h3-font-size: 1.602 * $font-size-base;
$h4-font-size: 1.424 * $font-size-base;
$h5-font-size: 1.266 * $font-size-base;
$h6-font-size: 1.125 * $font-size-base;
$p-font-size: $font-size-base;
$spacing: $font-size-base * 1.8;